body{
    background-color: darkorange;
}
img{
    width: 200px;
    display: flex;
    margin: auto;
}
#Birthday{
    height: 200px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 10px;
}